@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #00ff88;
  --neon-purple: #bf00ff;
  --neon-cyan: #00ffff;
}

body {
  @apply bg-gray-950 text-gray-50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
